@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;                    
}

body {
    font-family: "Playfair Display", serif;
    background-color: #6495ed4D;
    color: #333;
}

header {
    background-color: rgb(94, 121, 209);
    color: rgb(255, 255, 255);
    padding: 20px 0;
}

.text p {
    text-align: center;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    font-family: "Playfair Display", serif;
    font-size: 30px; 
    color: #ffffff; 
}

.descricao {
    font-family: 'Roboto', sans-serif;
    font-size: 22px; 
    color: #ffffff; 
}

.brand-icon {
    height: 100px; 
    width: auto;  
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: rgb(123, 255, 0);
    text-decoration: none;
}

button {
    background-color: #539be9;
    color: #fff;
    border: none;
    margin-left: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.header-blok {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.header-blok .text {
    flex: 1;
}

.header-blok img {
    max-width: 300px;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(212, 22, 22, 0.1);
    border-radius: 8px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(94, 121, 209);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(180, 68, 68, 0.1);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.produto {
    border: 1px solid #010002;
    border-radius: 8px;
    padding: 15px;
    background-color: rgb(200, 215, 238);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produto h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.produto p {
    font-size: 0.9em;
    color: #555;
}

.aaaa h3, .aaaa h6 {
    font-size: 22px; 
    color: #ffffff;    
}

.about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.about-content {
    max-width: 1000px;
    min-width: 300px;
    height: 420px;
    background: #dedede3b;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 25%;
    min-width: 300px;
    height: 100%;
    background: #000000a1;
    border-radius: 8px;
    overflow: hidden;
}

.left img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10%;
}

.right h3 {
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
}

.right p {
    max-width: 90%;
    font-size: 1em;
    letter-spacing: 2px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    padding: 20px;
}

.features {
    width: 100%;
    height: 100%;
    background: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.title-wrapper-features {
    padding: 20px 0px;
}

.feature-card-block {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: rgb(174, 190, 245);
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-gap: 30px;
}

.feature-card-item {
    max-width: 420px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #dedede3b;
    border-radius: 4px;
}

.feature-text-content {
    max-width: 60%;
    margin: 5px;
}

.feature-card-item img {
    width: 100px;
    height: 67px;
}

footer {
    width: 100%;
    height: 250px;
}

footer .main {
    width: 100%;
    height: 200px;
    background: var(--orange);
    padding: 20px 10px;
}

.footer-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-company, .footer-rental, .footer-contact, .footer-social {
    color: white;
    height: 100%;
    min-height: 100px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.main .footer-social img {
    width: 32px;
    height: 32px;
}

footer .last {
    width: 100%;
    height: 50px;
    background: var(--blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 576px) {
    nav ul li {
        display: none;
    }

    .header-block img {
        width: 70%;
        position: absolute;
        right: 16%;
        top: 30%;
    }

    .header-block .text {
        position: absolute;
        bottom: 10%;
        left: 15;
    }

    section .filter-card {
        width: 390px;
        padding: 0px 10px;
    }

    .search-input {
        max-width: 700px;
        min-width: 240px;
    }

    .search-button {
        max-width: 150px;
        min-width: 80px;
    }

    .about {
        margin-top: 100px;
    }

    .title-wrapper-about {
        margin-bottom: 20px;
    }

    .about-content {
        flex-direction: column;
        height: 100%;
    }

    .left {
        display: none;
    }

    .right {
        width: 90%;
    }

    .right p {
        width: 100%;
        margin: 0px;
        text-align: left;
    }

    .features {
        height: 100%;
    }

    .feature-card-block {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    footer {
        height: 100%;
    }

    footer .main {
        height: 100%;
    }

    .footer-links {
        flex-direction: column;
        padding-left: 10%;
    }
}
